* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}

h1 {
  color: aqua;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 15px;
}

.carta {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  color: black;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.carta.volteada {
  background-color: white;
}

.carta.encontrada {
  background-color: lime;
}

.parejas {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.iniciar{
  font-size: 20px;
  background-color:aqua;
  border-radius: 10px;
  border-top: black;
  width: 10%;
}